body {
    background: #ff6600;
}

/*
  ============================================
  Styles
  ============================================
*/

.row {
    background-color: #fff;
    color: #666666;
    font-size: 28px;
    margin-top: 1%;
    margin-left: 1%;
    width: 100%;
    padding: 5%;
}
.row h1 {
    margin-left: 2%;
    color: blue;
}

/*
  ========================================
  Navbar
  ========================================
*/

#nav {
    height: 10%;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #404040;
    z-index: 999999;
}
#nav ul {
    height: 5%;
    list-style: none;
    margin: 2% auto 0 auto;
    width: 50%;
}
#nav ul li {
    display: inline;
    float: left;
    margin: 0px 3%;
}
#nav a {
    font-size: 1em;
    font-weight: bold;
    float: left;
    padding: 2px 4px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
}
#nav a:hover {
    color: #ff6600;
}
#nav a.top span, #nav a.bottom span {
    float: left;
    width: 16px;
    height: 16px;
}
a {
    padding-left: 15px;
    font-size: 25px;
    color: #fff;
}
a:hover {
    color: #0099ff;
}

/*
  ============================================
  Landing
  ============================================
*/

.landing {
    background-image: url(../images/Web-Design-Vancouver-BC.png);
    background-size: cover;
    height: 100%;
}
.landing-text {
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 30px;
    font-weight: 600;
    color: #ff3333;
}

/*
  ============================================
  Examples
  ============================================
*/

.row .large-4 {
    width: 29.333333%;
}
.large-4 .images {
    background: #666666;
    padding: 5%;
}
#slider {
    width: 720px;
    overflow: hidden;
    margin-left: 15%;
}
#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}