<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://use.fontawesome.com/b3c15b8030.js"></script>
    <title>John Ngugi</title>
  </head>

  {% block topbar %}
  <body>
    <div id="top">
        <div id="nav">
            <ul>
                <li><a class="top" href="#top"><span>Top</span></a></li>
                <li><a class="bottom" href="#bottom">Bottom<span></span></a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}
        <script src="{{ url_for('static', filename='js/jquery-3.0.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>

</html>